<p id="notice"><%= notice %></p>

<p>
  <b>Bundleid:</b>
  <%= @application.bundleID %>
</p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @application.notes %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
